/* TP specific classes */
*{
	outline: none !important;
}
.sitemap{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sitemap_topheader{
	background: #ECEDF3;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
}
.sitemap_header{
	background: #ECEDF3;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	font-weight: bold;
}
.sitemap_header_active{
	background: #C8D6E1;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	font-weight: bold;
}
.sitemap_header:hover , .sitemap_header_active:hover{
	background: #DBE4ED;
	border-bottom: solid 1px #ffffff;
	padding: 4px;
	display: block;
	text-decoration: none;
}
/* TP other styles */
ul#articlelist
{
	margin: 0;
	padding: 0.5ex 0;
	list-style: none;
}
ul#catlist
{
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: solid 1px #d0d0d0;
}
ul#articlelist li
{
	margin: 0;
	display: block;
	padding: 0 0 0 3ex;
	background: url(images/divider.gif) no-repeat 5px 3px;
}
ul#catlist li
{
	display: block;
	padding: 0 0 0 3ex;
	margin: 0;
}
/* Normal, standard links. */
a:link, a:visited
{
	color: #26A69A;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.nav:hover
{
	color: #cc3333;
}
/* Tables should show empty cells. */
table
{
	empty-cells: show;
}
/* The main body of the entire forum. */
body
{
	color: white;
	background: #3C3F41;
	margin: 0;
	padding: 0;
}
/* By default (td, body..) use verdana in black. */
body, td, th , tr
{
	color: #FFFFFF;
	font-size: small;
	font-family: Trebuchet, sans-serif;
}
/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea, button
{
	color: #FFFFFF;
	font-family: Trebuchet, sans-serif;
	/*border: 1px solid #aaa;*/
	background-color: #757575;
}
input, button
{
	font-size: 90%;
}
textarea
{
	font-size: 100%;
	color: #FFFFFF;
	font-family: Trebuchet, sans-serif;
}
/* All input elements that are checkboxes or radio buttons. */
input.check
{
}
/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
	font-size: 90%;
	font-weight: normal;
	color: #FFFFFF;
	font-family: Trebuchet, sans-serif;
	background-color: #757575;
}
/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #26a69a;
	background-color: #26a69a;
}
/* No image should have a border when linked */
a img
{
	border: 0;
}
/* A quote, perhaps from another post. */
.quote
{	
	font-family: tahoma, sans-serif;
	color: #FFFFFF;
	background-color: #404D50;
	border: 1px solid #E7E7E7;
	margin: 1px;
	padding: 1px;
	font-size: x-small;
	line-height: 1.4em;
}
/* A code block - maybe even PHP ;). */
.code
{
	color: #FFFFFF;
	background-color: #626566;
	font-family: "Comic Sans MS", "times new roman", monospace;
	font-size: x-small;
	line-height: 1.3em;
	/* Put a nice border around it. */
	border: 1px solid #FFFFFF;
	margin: 1px auto 1px auto;
	padding: 1px;
	width: 99%;
	/* Don't wrap its contents, and show scrollbars. */
	white-space: nowrap;
	overflow: auto;
	/* Stop after about 24 lines, and just show a scrollbar. */
	max-height: 24em;
}
/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	font-family: tahoma, sans-serif;
	color: #26A69A;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
	line-height: 1.2em;
}
/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}
/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}
/* The main post box - this makes it as wide as possible. */
.editor
{
	width: 96%;
}
/* Highlighted text - such as search results. */
.highlight
{
	background-color: yellow;
	font-weight: bold;
	color: black;
}
/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
	color: #FFFFFF;
	background-color: #494949;
}
.windowbg2
{
	color: #FFFFFF;
	background-color: #636363;
}
.windowbg3
{
	color: #FFFFFF;
	background-color: #494949;
}
/* the today container in calendar */
.calendar_today
{
	background-color: #FFFFFF;
}
/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td
{
	background-color: #333333;
	padding-top: 10px;
}
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg a:link, .titlebg a:visited, .titlebg2, tr.titlebg2 th, tr.titlebg2 td, .titlebg2 a:link, .titlebg2 a:visited
{
	color: white;
	font-style: normal;
}
.titlebg a:hover
{
	color: #dfdfdf;
}
.catbg, .catbg2, .catbg3
{
	font-weight: bold;
	background-color: #5d5d5d;
	color: #FFFFFF;
}
/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
	background-color: transparent;
}
/* This is used on tables that should just have a border around them. */
.tborder
{
	background-color: transparent;
}
table.bordercolor>tbody>tr>td{
	padding: 0 0 0.5em !important;
}
/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: tahoma, sans-serif;
}
.middletext
{
	font-size: 90%;
}
.normaltext
{
	font-size: small;
}
.largetext
{
	font-size: large;
}
/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
{
	width: 100%;
	overflow: auto;
	line-height: 1.3em;
	color: white;
	/*background: #3C3F41 !important;*/
}
/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
	width: 100%;
	overflow: auto;
	padding-bottom: 3px;
	line-height: 1.3em;
}
#left
{
	background: #3C3F41;
	margin: auto;
}
#right
{
	background: #3C3F41;
}
#top
{
	background: #3C3F41;
}
#topleft
{
	background: #3C3F41;
}
#topright
{
	background: #3C3F41;
}
#main
{
	padding: 100px 0px 20px;
}
/* #################### */
ul#menubox
{
	display: none;
}
ul#menubox li
{
	padding: 0 0 0 8px;
	width: 65px;
	height: 44px;
	margin: 0;
	background: url(images/img2/left.gif) repeat-y;
}
ul#menubox li a
{
	font-family: "Comic Sans MS", serif;
	display: block;
	color: black;
	width: 45px;
	height: 42px;
	padding: 0 0 0 6px;
}
ul#menubox li a span
{
	display: none;
}
ul#menubox li.m1
{
	padding-left: 2px;
}
ul#menubox li.m2
{
	padding-left: 6px;
}
ul#menubox li.m3
{
	padding-left: 10px;
}
ul#menubox li.m4
{
	padding-left: 14px;
}
ul#menubox li.m5
{
	padding-left: 18px;
}
#myuser
{
	font-size: small;
	padding-bottom: 1em;
}
#ava
{
	display: none;
}
#bodyarea
{
	width: ;
	border-bottom: solid 1px #ddd;
	margin: 0 1em;
	padding-bottom: 1em;
}
.clearfix:after 
{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clearfix 
{
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix , * html .catbg, * html .catbg2, * html .catbg3
{
	height: 1%;
}
/* End hide from IE-mac */
ul#topmenu
{
	position: fixed;
	z-index: 2;
	margin: 0;
	width: 100%;
	border: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	padding: 0 5px 4px 5px;
	font-weight: bold;
	font-size: 11px;
}
ul#topmenu li
{
	float: left;
}
ul#topmenu li a
{
	display: block;
	padding: 2px 5px 2px 5px;
	border-style: 0;
	font-size: 11px;
	color: white;
}
ul#topmenu li a:hover
{
	background: #494949;
	text-decoration: none;
	color: #26a69a;
}
#pages
{
	padding-top: 1em;
}
#uppersection
{
	padding: 1em;
	margin: 0 1em;
	background: #494949;
}
.errorbar
{
	color: white;
	font-size: xx-small;
	text-align: center;
	padding: 3px;
	border-bottom: solid 1px black;
}
#errorpanel
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
}
#footerarea{
	background-color: #3C3F41;
}
.top_menu{
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
}
.top_menu>ul{
	margin: 0;
	padding: 2px;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}
.top_menu_item_anchor{
	margin: 0;
	padding: 8px 16px;
	display: block;
	color: white !important;
	text-align: center;
	outline: none;
	text-decoration: none;
}
.top_menu_item_anchor:hover{
	color: #26a69a !important;
	outline: none;
}
.mirrortab_back a:link, .mirrortab_back a:visited, .mirrortab_active_back a:link, .mirrortab_active_back a:visited{
	color: white;
}
.maintab_back a:link, .maintab_back a:visited, .maintab_active_back a:link, .maintab_active_back a:visited{
	color: white;
}
.custom_post_div, #uppersection, .tborder{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.36), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
